.bdxTram {
  font-size: 75%;
  line-height: 65px;
  margin-left: 30px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.bdxTram table {
    width: 400px;
}

.bdxTram .red {
    color: #FF0000
}

.bdxTram .mode-icon {
  color: #FF0000;
  width: 24px;
  height: 24px;
  display: block;
}

.iconText{
  font-size:15px;
  /* padding:5px 0 10px 0; */
  display:block;
  
}
.fa{
  margin-top: -10px;
}
