.bdxTransp {
  font-size: 75%;
  line-height: 65px;
  margin-left: 30px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}
.journeyIcon{
  width: 48px;
  height: 48px;
  color: white;
  display: block;
}

td{
  text-align: center;
}

figcaption {
  text-align: center;
}

figure {
  display:inline-block;
}

.line {
  font-size: 12px;
  font-style: italic;
  display:inline-block;
}